---
- name: Clone git repos
  ansible.builtin.git:
    repo: "{{ item.value.repo }}"
    dest: "{{ item.value.destination }}"
    depth: "{{ item.value.depth | default(omit) }}"
  loop: "{{ lookup('dict', base_git_repos) }}"
  async: 700
  poll: 0

- name: Copy wallpaper
  shell: cp "/home/{{ ansible_user }}/Pictures/Wallpapers/backgrounds/truchet-d.jpg" "/home/{{ ansible_user }}/.local/share/backgrounds/truchet-d.jpg"

- name: Set wallpaper permission
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.local/share/backgrounds/*"
    mode: u=rw,g=r,o=r
    recurse: true

- name: Set wallpaper
  dconf:
    key: "/org/gnome/desktop/background/picture-uri-dark"
    value: "'file:///home/{{ ansible_user }}/.local/share/backgrounds/truchet-d.jpg'"

- name: Download, extract and install theme
  block:
  - name: Download theme
    get_url:
      url: "https://github.com/Aryan20/DraculaSur-gtk-theme/archive/master.zip"
      dest: /tmp/
    register: theme_get_result

  - name: Extract it
    ansible.builtin.unarchive:
      remote_src: True
      src: "{{ theme_get_result.dest }}"
      dest: "/home/{{ ansible_user }}/.themes/DraculaSur-gtk-theme"

  - name: Cleanup
    ansible.builtin.file:
      path: "/tmp/DraculaSur-gtk-theme-master.zip"
      state: absent

  - name: Make fonts directory
    ansible.builtin.file:
      path: "/home/{{ ansible_user }}/.local/share/fonts/"
      state: directory

  - name: Collect fonts
    get_url:
      url: "https://github.com/ryanoasis/nerd-fonts/releases/download/v2.1.0/Hack.zip"
      dest: "/home/{{ ansible_user }}/.local/share/fonts/"


- name: Set the theme
  dconf:
    key: "/org/gnome/desktop/interface/{{ item.key }}"
    value: "'{{ item.value }}'"
  loop: "{{ base_gnome_settings | dict2items }}"
