[legacy/profiles:/:b1dcc9dd-5262-4d8d-a863-c897e6d979b9]
audible-bell=true
background-color='rgb(17,19,34)'
background-transparency-percent=1
custom-command='/usr/bin/zsh'
font='Overpass Mono 12'
foreground-color='rgb(208,207,204)'
palette=['rgb(46,49,50)', 'rgb(194,47,47)', 'rgb(0,170,0)', 'rgb(170,85,0)', 'rgb(65,65,229)', 'rgb(122,59,150)', 'rgb(0,170,170)', 'rgb(170,170,170)', 'rgb(85,85,85)', 'rgb(255,85,85)', 'rgb(85,255,85)', 'rgb(255,255,85)', 'rgb(85,85,255)', 'rgb(151,70,193)', 'rgb(85,255,255)', 'rgb(255,255,255)']
use-custom-command=true
use-system-font=true
use-theme-colors=false
use-transparent-background=false
visible-name='Default'
